<div class="container mt-5">
    <h1 class="text-center mb-4">Examen T1 - Gian Rosales</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="list-group shadow">

                <a asp-controller="Llamada" asp-action="Registrar" class="list-group-item list-group-item-action p-3">
                    <strong>Ejercicio 1:</strong> Registro y Cálculo de Llamadas
                </a>

                <a asp-controller="Producto" asp-action="ListProductos" class="list-group-item list-group-item-action list-group-item-primary p-3">
                    <strong>Ejercicio 2:</strong> Mantenimiento de Productos (CRUD)
                </a>

            </div>
        </div>
    </div>
</div>